// app global css in SCSS format

$container-width: 1280px;
$sidebar-width: 280px;
$breakpoint-xs: 599px !default;

/* Colors */

$fpl-blue: #00f;
$fpl-cyan: #0ff;
$fpl-green: #0f0;

$page-bg-color: $fpl-blue !default;

$separator-color: #343c3f !default;

.fpl__bg-color {
  background-color: $page-bg-color !important;
}

.fpl__text-blue,
.text-fpl-blue {
  color: $fpl-blue !important;
}

.fpl__bg-blue,
.bg-fpl-blue {
  background-color: $fpl-blue !important;
}

.fpl__text-cyan,
.text-fpl-cyan {
  color: $fpl-cyan !important;
}

.fpl__bg-cyan,
.bg-fpl-cyan {
  background-color: $fpl-cyan !important;
}

.fpl__text-green,
.text-fpl-green {
  color: $fpl-green !important;
}

.fpl__bg-green,
.bg-fpl-green {
  background-color: $fpl-green !important;
}

/* Fonts */

@font-face {
  font-family: 'Hack';
  src:
    url('./fonts/hack-regular-subset.woff2') format('woff2'),
    url('./fonts/hack-regular-subset.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src:
    url('./fonts/hack-bold-subset.woff2') format('woff2'),
    url('./fonts/hack-bold-subset.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Layout */

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: $fpl-blue;
}

.fpl__layout {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: $container-width;

    @media (max-width: $container-width) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .fpl__header {
    z-index: 2002;
  }

  .fpl__toolbar {
    padding: 1rem 0.5rem 1rem 1rem;

    @media (min-width: $container-width) {
      padding: 2rem 0;
    }
  }

  .fpl__drawer {
    .q-item {
      padding: 0.5rem 0.1rem;
    }

    .q-item__section--avatar {
      padding-right: 0.5rem;
      min-width: 24px;
    }
  }

  .fpl__desktop-layout {
    padding-top: 2rem !important;
  }

  .fpl__sidebar {
    .q-item {
      padding: 0.5rem 0.1rem;
    }

    .q-item__section--avatar {
      padding-right: 0.5rem;
      min-width: 24px;
    }
  }

  .fpl__sidebar-list {
    .q-item__section--side > .q-icon {
      margin-top: 0.25em;
      font-size: 1em;
    }

    .q-router-link--exact-active {
      color: inherit;

      .q-router-link--exact-active .main-label {
        font-weight: bold !important;
      }
    }
  }

  .fpl__sidebar-fixed {
    position: sticky;
    top: 3em;
    align-self: flex-start;
    max-height: calc(100vh);
    overflow-y: auto;

    .q-item {
      padding: 0.25rem 0.5rem;
      margin-left: -0.5rem;
    }

    .q-item__section--avatar {
      padding-right: 0.5rem;
      min-width: 24px;
    }
  }
}

.fpl__border-right {
  border-right: 1px solid $separator-color;
}

.fpl__border-left {
  border-left: 1px solid $separator-color;
}

/* Typography */

.fpl__text-headline,
.fpl__text-title,
.fpl__text-subtitle2,
.fpl__router-link-menu,
.text-mono,
.text-mono-bold,
code,
kbd,
pre,
samp {
  font-family: 'Hack', monospace;
  word-spacing: -0.225em;
}

.text-mono-bold {
  font-weight: 700;
}

.fpl__text-headline,
.fpl__text-title,
.fpl__text-subtitle2 {
  line-height: 1.3;
  text-wrap: balance;

  &:first-child {
    margin-top: 0;
  }
}

.fpl__text-subtitle2 {
  background-color: $fpl-green;
  padding: 0.2em 0.4em;
  display: inline-block;
}

.fpl__text-headline {
  font-size: 1.25em !important;

  @media (min-width: $container-width) {
    font-size: 1.8em !important;
  }
}

.fpl__text-title {
  font-size: 1.25em !important;
  margin-top: 0;

  @media (min-width: $container-width) {
    font-size: 1.35em !important;
  }

  + hr.q-separator {
    margin: 0.5rem 0;
  }
}

.fpl__text-subtitle2,
.fpl__text-subtitle3 {
  font-size: 1em !important;

  &:first-child {
    margin-top: 0;
  }
}

.fpl__text-subtitle2 {
  text-transform: uppercase;
}

.fpl__text-subtitle3 {
  font-weight: 700;
}

.fpl__router-link-menu {
  font-size: 0.8rem;
  line-height: 1.8;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.text-small {
  font-size: small !important;
}

.text-smaller {
  font-size: smaller !important;
}

.text-caption {
  line-height: 1.4 !important;
}

.text-strike {
  text-decoration: line-through;
}

.text-wrap-balance {
  text-wrap: balance;
}

samp,
.text-mono,
.text-mono-bold {
  .text-body2 &,
  &.text-body2 {
    font-size: 0.85em;
  }
}

.text-inherit {
  color: inherit;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

strong .text-weight-medium,
.text-weight-bold,
.text-weight-bolder {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

blockquote {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 1px dashed $fpl-blue;
}

ul {
  list-style-type: square;
}

li {
  position: relative;
  padding-left: 0.25em;
  margin-left: -0.25em;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

/* Markdown component */

.evan__marked {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-wrap: balance;
  }

  h1,
  h2,
  h3 {
    font-size: 1em;
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  h4,
  h5,
  h6 {
    font-size: 0.85em;
    margin-bottom: 0.5em;
    color: $separator-color;
  }
}

.fpl__marked-program {
  h2 {
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 0.5em;

    + h2 {
      margin-top: 0.5em;
    }

    + ul {
      margin-top: 0.6em;
    }
  }
}

/* Images */

.fpl__logo {
  height: 72px;
}

.fpl__logo-footer {
  height: 24px;
}

.fpl__footer-organizers svg {
  max-width: 110px;
  max-height: 75px;
}

/* Quasar tweaks */

.fpl__q-btn {
  padding: 0.45em 1.35em;

  .block {
    padding-bottom: 1px;
  }

  .q-icon {
    vertical-align: bottom;
    font-size: 1.25em;
    margin-right: 0.4em;
  }

  &.no-label {
    padding: 0.45em 0.65em !important;

    .q-icon {
      margin-right: 0 !important;
    }
  }
}

/* Hover Animations */

.fpl-hover-lift {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.fpl-hover-lift:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.fpl-hover-lift--btn {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.fpl-hover-lift--btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2) !important;
}
